In [1]:
import pandas as pd 
vehicles = pd.read_csv('light-duty-vehicles-2023-11-09.csv')
vehicles.head()

,Vehicle ID,Fuel ID,Fuel Configuration ID,Manufacturer ID,Category ID,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Drivetrain,Charging Rate Level 2 (kW),Charging Rate DC Fast (kW),Charging Speed Level 1 (miles added per hour of charging),Charging Speed Level 2 (miles added per hour of charging),Charging Speed DC Fast (miles added per hour of charging),Battery Voltage,Battery Capacity Amp Hours,Battery Capacity kWh,Seating Capacity
0,13532,57,9.0,490,29,Tonale eAWD,2024,NaN,NaN,77,...,AWD,NaN,NaN,NaN,NaN,NaN,304.0,51.0,15.0,NaN
1,13483,45,9.0,377,27,A3,2024,NaN,NaN,NaN,...,FWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13482,45,9.0,377,27,A3 quattro,2024,NaN,NaN,NaN,...,AWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13347,45,9.0,377,27,A4 quattro/S-Line/Allroad,2024,NaN,NaN,NaN,...,AWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13348,45,9.0,377,27,A5 quattro Coupe/Cabriolet/Sportback,2024,NaN,NaN,NaN,...,AWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Row Indexes

In [2]:
vehicles.index

RangeIndex(start=0, stop=3435, step=1)

In [4]:
model_counts = vehicles['Model'].value_counts()
model_counts.index

Index(['F-150', 'Savana 2500', 'Taurus FFV', 'Express 2500', 'Prius',
       'Silverado', 'Insight', 'Impala', 'Civic GX', 'Super Duty F-250',
       ...
       'Model S RWD 60 kWh', 'Yukon/Yukon XL 4WD',
       'e-tron Sportback/S Sportback',
       'Tahoe Police & Special Service Vehicle', 'i7 M70 xDrive Sedan',
       'Grand Cherokee', 'Armada, 2WD/4WD', 'SF90 Spider',
       'AMG GLE 53 4MATIC+ (Coupe)', 'Savana, Cutaway 4500'],
      dtype='object', length=1480)

In [8]:
model_counts = vehicles['Model'].value_counts()
model_counts_reset = model_counts.reset_index()
model_counts_reset

                           index  Model
0                          F-150     36
1                    Savana 2500     18
2                     Taurus FFV     17
3                   Express 2500     16
4                          Prius     15
...                          ...    ...
1475              Grand Cherokee      1
1476             Armada, 2WD/4WD      1
1477                 SF90 Spider      1
1478  AMG GLE 53 4MATIC+ (Coupe)      1
1479        Savana, Cutaway 4500      1

[1480 rows x 2 columns]

# Sorting Rows

In [20]:
vehicles = vehicles.sort_values(by='Model Year')
vehicles.head()

,Vehicle ID,Fuel ID,Fuel Configuration ID,Manufacturer ID,Category ID,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Drivetrain,Charging Rate Level 2 (kW),Charging Rate DC Fast (kW),Charging Speed Level 1 (miles added per hour of charging),Charging Speed Level 2 (miles added per hour of charging),Charging Speed DC Fast (miles added per hour of charging),Battery Voltage,Battery Capacity Amp Hours,Battery Capacity kWh,Seating Capacity
3434,649,49,5.0,219,27,Taurus FFV,1991,14.0,19.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3433,650,49,5.0,215,27,Lumina FFV,1991,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3431,660,49,5.0,225,27,Spirit FFV,1992,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3430,656,3,1.0,225,9,Ram Van B250,1992,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3429,651,11,5.0,215,27,Lumina FFV,1992,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
vehicles= vehicles.sort_values(by='Seating Capacity', ascending=False)
vehicles.head()

,Vehicle ID,Fuel ID,Fuel Configuration ID,Manufacturer ID,Category ID,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Drivetrain,Charging Rate Level 2 (kW),Charging Rate DC Fast (kW),Charging Speed Level 1 (miles added per hour of charging),Charging Speed Level 2 (miles added per hour of charging),Charging Speed DC Fast (miles added per hour of charging),Battery Voltage,Battery Capacity Amp Hours,Battery Capacity kWh,Seating Capacity
372,13396,41,1.0,470,29,R1S Dual Motor,2023,NaN,NaN,68-78,...,Part-Time 4WD,11.5,209,2.0,24,349.0,400.0,360.0,144.0,7
371,13319,41,1.0,470,29,R1S,2023,NaN,NaN,63-71,...,AWD,11.5,209,2.0,24,349.0,400.0,360.0,144.0,7
230,13290,57,9.0,223,9,Pacifica Hybrid,2023,NaN,NaN,82,...,FWD,6.6,NaN,3.0,16,NaN,360.0,47.0,16.0,7
317,13296,57,9.0,227,29,Aviator AWD PHEV,2023,NaN,NaN,56,...,Part-Time 4WD,6.6,NaN,2.0,11,NaN,347.0,36.0,12.0,7
63,13530,57,9.0,223,9,Pacifica Hybrid,2024,NaN,NaN,82,...,FWD,6.6,NaN,3.0,16,NaN,360.0,47.0,16.0,7

In [23]:
year_counts = vehicles['Model Year'].value_counts()
year_counts = year_counts = year_counts.sort_index()
year_counts

1991      2
1992      5
1993      7
1994      5
1995     13
1996     12
1997     17
1998     25
1999     43
2000     39
2001     44
2002     48
2003     47
2004     40
2005     37
2006     36
2007     46
2008     50
2009     59
2010     57
2011    117
2012    123
2013    162
2014    195
2015    192
2016    158
2017    183
2018    204
2019    220
2020    228
2021    274
2022    325
2023    258
2024    164
Name: Model Year, dtype: int64

# Selecting Specific Rows

In [34]:
model_2023 = vehicles.loc[[1960,2023], ['Model']]
model_2023

                       Model
1960  Grand Cherokee 2WD/FWD
2023         Continental GTC

In [33]:
alt_Fuel_Eco_City_2023 = vehicles.iloc[[0,1],[6]]
alt_Fuel_Eco_City_2023

     Model Year
372        2023
371        2023

# Selecting Ranges of Rows

In [5]:
sliced=vehicles.iloc[0:4, 5:7]

sliced

                       Model  Model Year
0                Tonale eAWD        2024
1                         A3        2024
2                 A3 quattro        2024
3  A4 quattro/S-Line/Allroad        2024

In [15]:
quattros = vehicles.loc[2:3, 'Model':'Model Year']

quattros

                       Model  Model Year
2                 A3 quattro        2024
3  A4 quattro/S-Line/Allroad        2024

In [16]:
large_slice = vehicles.iloc[:15, 5:]
large_slice

,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,Conventional Fuel Economy City,Conventional Fuel Economy Highway,Conventional Fuel Economy Combined,Transmission Type,Engine Type,...,Drivetrain,Charging Rate Level 2 (kW),Charging Rate DC Fast (kW),Charging Speed Level 1 (miles added per hour of charging),Charging Speed Level 2 (miles added per hour of charging),Charging Speed DC Fast (miles added per hour of charging),Battery Voltage,Battery Capacity Amp Hours,Battery Capacity kWh,Seating Capacity
0,Tonale eAWD,2024,NaN,NaN,77,29.0,29.0,29,Auto,SI,...,AWD,NaN,NaN,NaN,NaN,NaN,304.0,51.0,15.0,NaN
1,A3,2024,NaN,NaN,NaN,29.0,37.0,32,Auto,SI,...,FWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3 quattro,2024,NaN,NaN,NaN,27.0,34.0,30,Auto,SI,...,AWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A4 quattro/S-Line/Allroad,2024,NaN,NaN,NaN,NaN,NaN,27-30,Auto,SI,...,AWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A5 quattro Coupe/Cabriolet/Sportback,2024,NaN,NaN,NaN,NaN,NaN,27-30,Auto,SI,...,AWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,A6 quattro,2024,NaN,NaN,NaN,23.0,33.0,26,Auto,SI,...,AWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,A6 quattro/Allroad,2024,NaN,NaN,NaN,22.0,30.0,25,Auto,SI,...,AWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,A7 quattro,2024,NaN,NaN,NaN,22.0,30.0,25,Auto,SI,...,AWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,A8 quattro,2024,NaN,NaN,NaN,19.0,28.0,22,Auto,SI,...,AWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,e-tron GT/RS e-tron GT,2024,NaN,NaN,85,NaN,NaN,NaN,Auto,e-motor,...,AWD,9.6,270,3.0,23,292.0,723.0,129.0,93.0,5
10,Q4 40 e-tron,2024,112.0,94.0,103,NaN,NaN,NaN,Auto,e-motor,...,RWD,11,125,3.0,31,282.0,352.0,234.0,82.0,5
11,Q4 50 e-tron quattro,2024,97.0,87.0,93,NaN,NaN,NaN,Auto,e-motor,...,AWD,11,125,3.0,31,282.0,352.0,234.0,82.0,5
12,Q4 Sportback 50 e-tron quattro,2024,100.0,89.0,95,NaN,NaN,NaN,Auto,e-motor,...,AWD,11,125,3.0,31,282.0,352.0,234.0,82.0,5
13,Q5 quattro/Sportback/S-Line,2024,NaN,NaN,NaN,NaN,NaN,24-26,Auto,SI,...,AWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Q7 quattro,2024,NaN,NaN,NaN,19.0,24.0,21,Auto,SI,...,AWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Booleans

In [20]:
car_transmissiontype = vehicles['Transmission Type'] == 'Auto'

car_transmissiontype.head(10)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: Transmission Type, dtype: bool

In [22]:
is_1998 = (vehicles['Model Year'] == 1998)
is_1998.head()

0    False
1    False
2    False
3    False
4    False
Name: Model Year, dtype: bool

In [25]:
vehicles[is_1998]
#or 
#vehicles[vehicles['Model Year'] == 1999]

,Vehicle ID,Fuel ID,Fuel Configuration ID,Manufacturer ID,Category ID,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Drivetrain,Charging Rate Level 2 (kW),Charging Rate DC Fast (kW),Charging Speed Level 1 (miles added per hour of charging),Charging Speed Level 2 (miles added per hour of charging),Charging Speed DC Fast (miles added per hour of charging),Battery Voltage,Battery Capacity Amp Hours,Battery Capacity kWh,Seating Capacity
3349,4,3,3.0,215,27,Chevrolet Cavalier,1998,20.0,26.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3350,10,3,3.0,215,25,Chevrolet C/K,1998,12.3,22.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3351,12,41,1.0,215,25,Chevrolet S-10,1998,94.0,86.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3352,11,41,1.0,215,25,Chevrolet S-10 PbA,1998,45.0,41.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3353,8,11,5.0,225,9,FFV Minivan,1998,20.0,25.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3354,13,3,3.0,219,27,Contour (QVM),1998,17.0,23.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3355,7,3,1.0,219,27,Crown Victoria,1998,14.0,20.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3356,20,3,3.0,219,9,Econoline Clubwagon,1998,11.0,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3357,21,55,3.0,219,9,Econoline Clubwagon,1998,11.0,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3358,19,3,1.0,219,9,Econoline Clubwagon,1998,11.0,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3359,18,3,1.0,219,9,Econoline E-250,1998,11.0,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3360,6,3,3.0,219,9,Econoline E-250,1998,11.0,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3361,17,55,3.0,219,9,Econoline E-250,1998,11.0,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3362,14,3,3.0,219,25,F-150,1998,11.0,15.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3363,15,55,3.0,219,25,F-150,1998,12.0,16.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3364,16,3,1.0,219,25,F-250,1998,11.0,15.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3365,1,41,1.0,219,25,Ranger EV,1998,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3366,5,11,5.0,219,27,Taurus FFV,1998,14.0,19.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3367,594,41,1.0,317,27,"EV1-NiMH (CA,AZ)",1998,34.0,30.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3368,593,41,1.0,317,27,"EV1 - PbA (CA, AZ)",1998,30.0,25.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3369,2,3,3.0,213,25,GMC Sierra,1998,11.0,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370,9,3,1.0,209,27,Civic GX,1998,28.0,34.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3371,3,41,1.0,209,27,EV Plus,1998,100.0,84.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3372,596,41,1.0,221,29,RAV4-EV NiMH (Flts.),1998,29.0,37.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3373,595,41,1.0,221,29,RAV4-EV PbA (Fleets),1998,29.0,37.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
is_2023 = vehicles['Model Year'] == 2023
is_low_Alternative_Fuel_Economy_City = vehicles['Alternative Fuel Economy City'] <= 12
low_alt_fuel_forcity_2023 = vehicles[is_2023 & is_low_Alternative_Fuel_Economy_City]
low_alt_fuel_forcity_2023.head()

,Vehicle ID,Fuel ID,Fuel Configuration ID,Manufacturer ID,Category ID,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Drivetrain,Charging Rate Level 2 (kW),Charging Rate DC Fast (kW),Charging Speed Level 1 (miles added per hour of charging),Charging Speed Level 2 (miles added per hour of charging),Charging Speed DC Fast (miles added per hour of charging),Battery Voltage,Battery Capacity Amp Hours,Battery Capacity kWh,Seating Capacity
223,13135,11,5.0,215,25,Silverado 2WD,2023,12.0,15.0,13,...,RWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,13136,11,5.0,215,25,Silverado 4WD,2023,11.0,14.0,12,...,4WD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,13137,11,5.0,213,25,Sierra 2WD,2023,12.0,15.0,13,...,RWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,13138,11,5.0,213,25,Sierra 4WD,2023,11.0,14.0,12,...,4WD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN